<div class='content'>
  <div class='row mt-4'>
    <div class='col-md-4'>
      <div class="card">
        <div class="card-header">
          Dados do Robô
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class='row'>
              <div class='col-6'>Velocidade Linear</div>
              <div class='col-6'>{{ ev3Data.linearVel }} <small>m/s</small></div>
            </div>
          </li>
          <li class="list-group-item">
            <div class='row'>
              <div class='col-6'>Velocidade Angular</div>
              <div class='col-6'>{{ ev3Data.angularVel }} <small>m/s</small></div>
            </div>
          </li>
          <li class="list-group-item">
            <div class='row'>
              <div class='col-6'>Pos. Atual</div>
              <div class='col-6'>({{ ev3Data.currentPosX }} <small>x</small>,{{ ev3Data.currentPosY }} <small>y</small>)
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class='row'>
              <div class='col-6'>Pos. Objetivo</div>
              <div class='col-6'>({{ ev3Data.goalPosX }} <small>x</small>,{{ ev3Data.goalPosY }} <small>y</small>)</div>
            </div>
          </li>
        </ul>
      </div>

      <div class="card" style='margin-top: 20px; margin-bottom: 35%;' *ngIf='currentExperimento != null'>
        <div class="card-header">
          Dados do Experimento
        </div>
        <ng-container *ngIf='currentExperimento.codExperimento == 1'>

          <div class="card-body">
            Clique na imagem da câmera para o robô se direcionar até a posição informada.
            <h4 class='dados-experimento-title'>Parâmetros</h4>
            <form [formGroup]="experimentoParametroForm">
              <div class='row'>
                <div class='col-md-5'>
                  <label for='deInputAlgoritmoBusca'>Algoritmo de Busca</label>
                </div>
                <div class='col-md-7'>
                  <div class='form-group'>
                    <select class="form-control" id="deInputAlgoritmoBusca" formControlName="algoritmoBusca">
                      <option value="1">Astar (A*)</option>
                      <option value="2">RRT</option>
                      <option value="3">Desabilitado</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class='row'>
                <div class='col-md-5'>
                  <label for='deInputObstaculos'>Checagem Obstáculos</label>
                </div>
                <div class='col-md-7'>
                  <div class='form-group'>
                    <select class="form-control" id="deInputObstaculos" formControlName="obstaculos">
                      <option value="true">Habilitado</option>
                      <option value="false">Desabilitado</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class='row'>
                <div class='col-md-5'>
                  <label for='deInputKp'>Kp (PID)</label>
                </div>
                <div class='col-md-7'>
                  <div class='form-group'>
                    <input class='form-control' type='number' id='deInputKp' formControlName="kp"/>
                  </div>
                </div>
              </div>
              <div class='row'>
                <div class='col-md-5'>
                  <label for='deInputKd'>Kd (PID)</label>
                </div>
                <div class='col-md-7'>
                  <div class='form-group'>
                    <input class='form-control' type='number' id='deInputKd' formControlName="kd"/>
                  </div>
                </div>
              </div>
              <div class='row'>
                <div class='col-md-5'>
                  <label for='deInputKi'>Ki (PID)</label>
                </div>
                <div class='col-md-7'>
                  <div class='form-group'>
                    <input class='form-control' type='number' id='deInputKi' formControlName="ki"/>
                  </div>
                </div>
              </div>
              <div class='row'>
                <div class='col-md-12'>
                  <button class='btn btn-primary' type='button' (click)="salvarParametrosExperimento()">Salvar Parâmetros</button>
                </div>
              </div>
            </form>
          </div>
        </ng-container>
        <ng-container *ngIf='currentExperimento.codExperimento == 2'>

          <div class="card-body">
            Adicione instruções de trajetória para o robô e depois rode o experimento.
            <h4 class='dados-experimento-title'>Parâmetros</h4>
            <div class='row'>
              <div class='col-md-12'>
                Nenhuma instrução cadastrada
              </div>
              <div class='col-md-12'>
                <button class='btn btn-primary' type='button'>Alterar Instruções</button>
              </div>
            </div>
            <h4 class='dados-experimento-title'>Parâmetros</h4>
            <form [formGroup]="experimentoParametroForm">
              <div class='row'>
                <div class='col-md-5'>
                  <label for='deInputObstaculos'>Checagem Obstáculos</label>
                </div>
                <div class='col-md-7'>
                  <div class='form-group'>
                    <select class="form-control" id="deInputObstaculos" formControlName="obstaculos">
                      <option value="true">Habilitado</option>
                      <option value="false">Desabilitado</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class='row'>
                <div class='col-md-5'>
                  <label for='deInputKp'>Kp (PID)</label>
                </div>
                <div class='col-md-7'>
                  <div class='form-group'>
                    <input class='form-control' formControlName="kp" type='number' id='deInputKp' />
                  </div>
                </div>
              </div>
              <div class='row'>
                <div class='col-md-5'>
                  <label for='deInputKd'>Kd (PID)</label>
                </div>
                <div class='col-md-7'>
                  <div class='form-group'>
                    <input class='form-control' type='number' formControlName="kd" id='deInputKd' />
                  </div>
                </div>
              </div>
              <div class='row'>
                <div class='col-md-5'>
                  <label for='deInputKi'>Ki (PID)</label>
                </div>
                <div class='col-md-7'>
                  <div class='form-group'>
                    <input class='form-control' type='number' formControlName="ki" id='deInputKi' />
                  </div>
                </div>
              </div>
              <div class='row'>
                <div class='col-md-12'>
                  <button class='btn btn-primary' type='button' (click)="salvarParametrosExperimento()">Salvar Parâmetros</button>
                </div>
              </div>
            </form>
          </div>
        </ng-container>
      </div>



    </div>

    <div class='col-md-8 pl-0 pr-0'>
      <div class="card">
        <div class="card-header">
          Câmera
        </div>
        <div class="card-body" id="camera-wrap">
          <img src='{{ getCameraImage() }}' id='camera-image' />
        </div>
      </div>

    </div>
  </div>

</div>
<div id='low-bar'>
  <div class='row'>
    <div class='col-md-1 col-sm-12 left-bottom'>
      <div class='row'>
        <div class='col-md-12'>
          <span class="badge badge-success">Sessão Ativa</span>
        </div>
        <div class='col-md-12'>
          <countdown *ngIf='sessionCountdown != null' [config]="sessionCountdown"></countdown>
        </div>
      </div>
    </div>
    <div class='col-md-11 col-sm-12' *ngIf='currentExperimento == null'>
      Nenhum experimento rodando.
      <button class='btn btn-light btn-sm' type="button" (click)='openNewExperimentoModal()'>Iniciar
        Experimento</button>
    </div>
    <ng-container *ngIf='currentExperimento != null'>
      <div class='col-md-8 col-sm-12'>
        Experimento: {{ currentExperimento.label }}
      </div>

      <div class='col-md-3 col-sm-12 ml-auto text-right'>
        <span class='fa fa-play-circle play-experimento control-experimento'></span>
        <span class='fa fa-stop-circle stop-experimento control-experimento'></span>
      </div>
    </ng-container>

  </div>
</div>

<modal-alert title='Iniciar Novo Experimento' modalId='novoExperimentoModal' noButtons=true modalSize=1>
  <div class='card'>
    <div class='card-body'>
      <div class='row'>
        <div class='col-md-12'></div>
      </div>
      <div class='row'>
        <div *ngFor="let experimento of experimentos" class='col-md-4 p-2 col-sm-12 experimento-select'>
          <div class='experimento-select-wrap' (click)="startExperimento(experimento.codigo)">
            {{ experimento.label }}
            <div class='experimento-desc'>
              {{ experimento.descricao }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</modal-alert>