#low-bar {
    position: fixed;
    z-index: 10;
    bottom: 0;
    left: 0;
    right: 0;
    background: #183f86;
    padding: 20px;
    color: #fff;
    font-size: .9em;

}

#low-bar .left-bottom {
    border-right: 1px solid #fff;
}

#camera-wrap {
    width: 100%;
}

#camera-image {
    max-width: 100%;
}

.experimento-select-wrap
{
    text-align: center;
    font-size: 1.2em;
    border: 1px solid #666;
    border-radius: 3px;
    padding-top: 10px;
    user-select: none;
}

.experimento-select-wrap:hover {
    cursor: pointer;
    background: #ddd;
}

.experimento-desc
{
    font-size: 12px;
    text-align: justify;
    margin-top: 10px;
    padding: 10px;
    border-top: 1px solid #666;
}

.control-experimento {
    font-size: 40px;
    margin: 5px;
}

.dados-experimento-title {
    border-top: 1px solid rgba(0,0,0,.125);
    padding: 7px 0px;
    margin-top: 10px;
    font-size: 1.2em;
    color: rgba(0,0,0,.525);
}

.instrucoes-list-wrap {
    margin: 10px auto;
    border: 1px solid rgba(0,0,0,.125);
}

.instrucoes-list-wrap .padding {
    padding: 15px;
    font-size: 1.2em;
}

.instrucoes-wrap
{
    margin: 8px;
    margin-bottom: 20px;
}

.instrucoes-small {
    font-size: .7em;
}