#low-bar {
    position: fixed;
    z-index: 10;
    bottom: 0;
    left: 0;
    right: 0;
    background: #183f86;
    padding: 20px;
    color: #fff;
    font-size: .9em;

}

#low-bar .left-bottom {
    border-right: 1px solid #fff;
}

#camera-wrap {
    width: 100%;
}

#camera-image {
    max-width: 100%;
}